astroid==1.3.8
binaryornot==0.4.0
chardet==2.3.0
click==5.1
cookiecutter==1.1.0
fake-factory==0.5.3
future==0.15.2
Fuzzy==1.1
jellyfish==0.5.1
Jinja2==2.8
logilab-common==1.0.2
MarkupSafe==0.23
Metaphone==0.4
pluggy==0.3.1
py==1.4.30
PyYAML==3.11
six==1.9.0
tox==2.1.1
virtualenv==13.1.2
whichcraft==0.1.1
